.onevegetable_image {
    display: block;
    margin-left: auto;
    margin-top: auto;
    width: 100%;
    height: 50vh;
    opacity: 1;
  }
  
  .one_paper {
    position: relative;
  }
  
  
  .onevegtable_title {
    margin-left: 2% !important;
    font-size: 1.3rem !important;
    font-family: "Times New Roman", Times, serif !important;
    letter-spacing: 0.1em !important;
  }
  
  .onevegetable_about {
    margin: 2% !important;
    text-align: justify;
  }
  
  .one_sub_vegetable_paper {
    height: 100%;
  }
  .one_sub_vegetable_paper:hover {
    transform: scale(1.01);
  }
  
  .one_sub_vegetable_image {
    width: 100%;
    height: 20vh;
  }
  
  .onevegetable_modal_paper {
    width: 50% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 0 !important;
  }
  